<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<title>Menu</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
	<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
	<script type="text/javascript" src="js/script.js"></script> 
</head>
<body>
    <header>
		<a href="#" class="car">Cars Collection</a>
		<div class="menu-toggle"></div>
		<nav>
			<ul>
				<li><a href="#" class="active">Home</a></li>
                <li><a href="#" id="super">Super cars</a></li>
                <li><a href="#" id="luxury">Luxury Cars</a></li>
                <li><a href="#" id="ordinary">Ordinary Cars</a></li>
				<li><a href="#" id="contact">Contact</a></li>
			</ul>
		</nav>
		<div class="clearfloat"></div>
	</header>
	<div class="container">
		<h3>If you want to know more information, you can contact to us</h3>
		<hr>
		<h3>Yourself</h3>
		<span>Full Name:</span>
		<input type="text" id="inUserName">
		<span>Email:</span>
		<input type="text" id="inEmail">
		<span>Message:</span>
        <input type="text" id="inMessage">
        <button id="btnSend">Send Information</button>
		<hr>
		<h3>Test your information</h3>
		<span>Full Name:</span>
        <input type="text" id="inUserName2">
		<button id="btnCheck">Check</button>
		<span id="result"></span>
		<hr>
        <p>Status: <span id="status"></span></p>
    </div>
    <div class="supercar">
        <span><h3>Ferrari</h3></span>
        <p>Ferrari is an Italian luxury sports car manufacturer based in Maranello. Founded by Enzo Ferrari in 1939 out of Alfa Romeo's race division as Auto Avio Costruzioni, the company built its first car in 1940. However, the company's inception as an auto manufacturer is usually recognized in 1947, when the first Ferrari-badged car was completed. 
            In 2014 Ferrari was rated the world's most powerful brand by Brand Finance. 
            In June 2018, the 1964 250 GTO became the most expensive car in history, setting an all-time record selling price of $70 million.
        </p>
        <br>
        <img class="image4 p" src="images/ferrari.jpg" alt="" >
        <img class="image5 p" src="images/ferrari_458_mm_speciale.jpg" alt="" >
        <img class="image6 p" src="images/ferrari_f12_trs_red.jpg" alt="" >
        <img class="image7 p" src="images/laferrari_ferrari.jpg" alt="" >
        <hr>
        <span><h3>Lamborghini</h3></span>
        <p>Lamborghini is an Italian brand and manufacturer of luxury automobiles. Lamborghini's production facility and headquarters are located in Sant'Agata Bolognese, Italy. 
            Italian manufacturing magnate Ferruccio Lamborghini founded the company in 1963 with the objective of producing a refined grand touring car to compete with offerings from established marques such as Ferrari.
            The company's first models were introduced in the mid-1960s and were noted for their refinement, power and comfort. 
            Lamborghini gained wide acclaim in 1966 for the Miura sports coupé, which established rear mid-engine, rear wheel drive as the standard layout for high-performance cars of the erea.
        </p>
        <br>
        <img class="image8 p" src="images/lamborghini.jpg" alt="" >
        <img class="image9 p" src="images/lamborghini_centenario.jpg" alt="" >
        <img class="image10 p" src="images/lamborghini_roadster.jpg" alt="" >
        <img class="image11 p" src="images/lamborghini_sesto_elemento_black.jpg" alt="" >
        <hr>
        <span><h3>Bugatti</h3></span>
        <p>Automobiles Ettore Bugatti was a French car manufacturer of high-performance automobiles, founded in 1909 in the then-German city of Molsheim, Alsace by the Italian-born industrial designer Ettore Bugatti. 
            The cars were known for their design beauty and for their many race victories.
        </p>
        <br>
        <img class="image12 p" src="images/bugatti.jpg" alt="" >
        <img class="image13 p" src="images/bugatti_chiron.jpg" alt="" >
        <img class="image14 p" src="images/Chorion_La_Voiture_Noire.jpg" alt="" >
        <img class="image15 p" src="images/Bugatti_Super_Sport.jpg" alt="" >
    </div>

    <div class="luxurycar">
        <span><h3>Audi</h3></span>
        <p>Audi AG is a German automobile manufacturer that designs, engineers, produces, markets and distributes luxury vehicles. 
            Audi is a member of the Volkswagen Group and has its roots at Ingolstadt, Bavaria, Germany. 
            Audi-branded vehicles are produced in nine production facilities worldwide
            The origins of the company are complex, going back to the early 20th century and the initial enterprises (Horch and the Audiwerke) founded by engineer August Horch; and two other manufacturers (DKW and Wanderer), leading to the foundation of Auto Union in 1932. 
            The modern era of Audi essentially began in the 1960s when Auto Union was acquired by Volkswagen from Daimler-Benz.
            After relaunching the Audi brand with the 1965 introduction of the Audi F103 series, Volkswagen merged Auto Union with NSU Motorenwerke in 1969, thus creating the present day form of the company.
        </p>
        <br>
        <img class="image16 p" src="images/Audi1.jpg" alt="" >
        <img class="image17 p" src="images/audi_a6.jpg" alt="" >
        <img class="image18 p" src="images/audi_rs5.jpg" alt="" >
        <img class="image19 p" src="images/audi_tt_gray.jpg" alt="" >
        <hr>
        <span><h3>BMW</h3></span>
        <p>Bayerische Motoren Werke AG, translated in English as Bavarian Motor Works, commonly referred to as BMW is a German multinational company which produces luxury vehicles and motorcycles. 
            The company was founded in 1916 as a manufacturer of aircraft engines, which it produced from 1917 until 1918 and again from 1933 to 1945.
            Automobiles are marketed under the brands BMW, Mini and Rolls-Royce, and motorcycles are marketed under the brand BMW Motorrad. 
            In 2015, BMW was the world's twelfth-largest producer of motor vehicles, with 2,279,503 vehicles produced.
        </p>
        <br>
        <img class="image20 p" src="images/bmw_m4_gts.jpg" alt="" >
        <img class="image21 p" src="images/bm.jpg" alt="" >
        <img class="image22 p" src="images/bmw_4.jpg" alt="" >
        <img class="image23 p" src="images/bmw_i8.jpg" alt="" >
        <hr>
        <span><h3>Mercesdes-Benz</h3></span>
        <p>Mercedes-Benz is a German global automobile marque and a division of Daimler AG. 
            Mercedes-Benz is known for luxury vehicles, vans, trucks, buses, coaches and ambulances. 
            The headquarters is in Stuttgart, Baden-Württemberg. The name first appeared in 1926 under Daimler-Benz. 
            In 2018, Mercedes-Benz was the largest seller of premium vehicles in the world, having sold 2.31 million passenger cars.
            Mercedes-Benz origins' come from Daimler-Motoren-Gesellschaft's 1901 Mercedes and Karl Benz's 1886 Benz Patent-Motorwagen, which is widely regarded as the first gasoline-powered automobile. 
            The slogan for the brand is "the best or nothing".</p>
        <br>
        <img class="image24 p" src="images/mercedes_amg_gt.jpg" alt="" >
        <img class="image25 p" src="images/mercedesbenz_c63.jpg" alt="" >
        <img class="image26 p" src="images/mercedesbenz_g500.jpg" alt="" >
        <img class="image27 p" src="images/mercedes_car.jpg" alt="" >
    </div>

    <div class="ordinarycar">
        <span><h3>Honda</h3></span>
        <p>Honnda Motor Company, Ltd is a Japanese public multinational conglomerate corporation primarily known as a manufacturer of automobiles, motorcycles, and power equipment.
            Honda has been the world's largest motorcycle manufacturer since 1959, reaching a production of 400 million by the end of 2019, as well as the world's largest manufacturer of internal combustion engines measured by volume, producing more than 14 million internal combustion engines each year.
            Honda became the second-largest Japanese automobile manufacturer in 2001.
            Honda was the eighth largest automobile manufacturer in the world in 2015.
        </p>
        <br>
        <img class="image28 p" src="images/honda_accord.jpg" alt="" >
        <img class="image29 p" src="images/honda_civic.jpg" alt="" >
        <img class="image30 p" src="images/honda_odyssey.jpg" alt="" >
        <img class="image31 p" src="images/honda_civic2.jpg" alt="" >
        <hr>
        <span><h3>Toyota</h3></span>
        <p>Toyota Motor Corporation is a Japanese multinational automotive manufacturer headquartered in Toyota, Aichi, Japan. 
            In 2017, Toyota's corporate structure consisted of 364,445 employees worldwide and, as of December 2019, was the tenth-largest company in the world by revenue.
            Toyota is the second largest automobile manufacturer in the world, behind Volkswagen, based on 2018 unit sales. 
            Toyota was the world's first automobile manufacturer to produce more than 10 million vehicles per year, which it has done since 2012, when it also reported the production of its 200-millionth vehicle
            Toyota is the global market leader in sales of hybrid electric vehicles, and one of the largest companies to encourage the mass-market adoption of hybrid vehicles across the globe. 
            Toyota is also a market leader in hydrogen fuel-cell vehicles. Cumulative global sales of Toyota and Lexus hybrid passenger car models achieved the 10 million milestone in January 2017. 
            Its Prius family is the world's top-selling hybrid nameplate with over 6 million units sold worldwide as of January 2017
        </p>
        <br>
        <img class="image32 p" src="images/toyota_land_cruiser_prado_gray_rear_view_97914_1280x1024.jpg" alt="" >
        <img class="image33 p" src="images/toyota_taco.jpg" alt="" >
        <img class="image34 p" src="images/toyota_tacoma.jpg" alt="" >
        <img class="image35 p" src="images/fortune.jpg" alt="" >
        <hr>
        <span><h3>Huyndai</h3></span>
        <p>The Hyundai Motor Company, commonly known as Hyundai Motors, is a South Korean multinational automotive manufacturer headquartered in Seoul. 
            Hyundai Motor Company was founded in 1967 and, along with its 32.8% owned subsidiary, Kia Motors, and its 100% owned luxury subsidiary Genesis Motor, altogether comprise the Hyundai Motor Group.
            Hyundai operates the world's largest integrated automobile manufacturing facility in Ulsan, South Korea which has an annual production capacity of 1.6 million units. 
            The company employs about 75,000 people worldwide. Hyundai vehicles are sold in 193 countries through some 5,000 dealerships and showrooms.
        </p>
        <br>
        <img class="image36 p" src="images/huyndai_1.jpg" alt="" >
        <img class="image37 p" src="images/huyndai_2.jpg" alt="" >
        <img class="image38 p" src="images/2019-hyundai-santa-fe-91.jpg" alt="" >
        <img class="image39 p" src="images/Hyundai-i30.jpg" alt="" >
    </div>

	<div class="infor">
        <span><p>Designed by Hoàng Minh Phát</p>
            <p>Email: 17520876@gm.uit.edu.vn</p>
            <p>Phone Number: 09xxxxxxxx</p>
        </span>
        <hr>
        <span>Copyright &#169; 2020</span>
        <p>
            <blockquote> Cars Collection
                    <cite>&mdash; H. M. P</cite>
            </blockquote>
        </p>
	</div>
</body>
</html>